.settings/*
bin-debug/*
bin-release/*
html-template/*
bin/*
doc/*
obj/*

*/.svn/*
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
.sourceMate

Thumbs.db
.DS_Store
