.settings/*
bin-debug/*
bin-release/*
html-template/*
bin/*
doc/*
obj/*
report/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
.sourceMate
src/FlexUnitApplication.mxml

.idea
*.iml

Thumbs.db
.DS_Store
